body {
  margin: 0;
  background: #19171c;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px calc(100vh - 50px);
}

a {
  text-decoration: none;
  color: #111111;
}

input {
  padding: 0;
  border: 0;
}

nav {
  height: 50px;
  background: #7FDBFF;
  display: flex;
}

  .nav__left {
    width: 50%;
    display: flex;
    align-items: center;
  }

    .nav__img {
      background: url(./images/icon-twitch.png);
      margin: auto 10px;
      width: 32px;
      height: 32px;
    }

    .nav__link {
      text-align: center;
      width: 50px;
      line-height: 30px;
      color: rgba(255, 65, 54, .5);
    }

    .link--active {
      color: #FF4136;
      border-bottom: 5px solid #FF4136;
    }

    .nav__link:hover {
      color: #FF4136;
    }

    .nav__search {
      padding: 5px;
      margin: auto 10px;
      display: flex;
      background: #19171c;
    }

    .search__img {
      background: url(./images/icon-search.png);
      filter: invert(100%);
      background-size: 100%;
      width: 32px;
      height: 32px;
      margin-left: 5px;
    }

  .nav__right {
    width: 50%;
  }

main {
  display: flex;
  justify-content: space-between;
}

  aside {
    width: 15%;
    border-right: 1px whitesmoke solid;
  }

    .game-list {
      width: 100%;
      height: 50px;
      text-align: center;
      line-height: 50px;
      color: white;
    }

    .game-list:hover {
      background: rgb(60, 60, 60);
      cursor: pointer;
    }

    .list-active {
      background: rgb(60, 60, 60);
    }

  article {
    width: 85%;
    overflow: scroll;
    overflow-x: hidden;
  }

  .films-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

    .film {
      margin: 50px auto;
      width: 300px;
      height: 300px;
    }

    .film:hover {
      box-shadow: 0 0 20px whitesmoke;
      filter: brightness(120%);
    }

      .film-img {
        display: block;
        width: 100%;
        height: 200px;
        background-color: inherit;
      }

      .film-data {
        display: flex;
        width: 100%;
        height: 100px;
        background-color: #FF4136;
      }

        .data-img {
          display: inline-block;
          width: 100px;
          height: 100px;
          border-radius: 100%;
          background-color: #ffffff;
        }

        .data-info {
          display: inline-block;
          width: 200px;
          height: 100px;
          text-align: center;
          font-size: 20px;
          line-height: 100px;
        }

@media only screen  and (max-width: 600px) {
  body {
    width: 100%;
    grid-template-rows: 50px 1fr;
  }

  .nav__left {
    width: 100%;
  }

  .nav__right {
    width: 0;
  }

  .nav__search {
    margin: auto;
  }

  main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
  }

  aside {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }

  article {
    width: 100%;
  }

  .films-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .film {
    margin: auto auto 50px auto;
  }
}